@import '../helpers/variables.scss';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  color: $black;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  background-color: $grayF4;
  font-family: "Impact", "Arial", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}
